/*Definições de fontes locais*/
@font-face {
    font-family: 'Ginqail';
    src: local('Ginqail'), url('./fonts/Ginqail-Font.ttf') format('truetype');
}

@font-face {
    font-family: 'MPLUS1';
    src: local('MPLUS1'), url('./fonts/MPLUS1-VariableFont_wght.ttf') format('truetype');
}

/*Configurações gerais da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        rgba(200, 184, 169, 0.179),
        rgba(200, 184, 169, 0.179)
    ),
    url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Configurações de cabeçalho*/
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -10%;
    padding: 0 30px;
    border-bottom: 1px solid #332929;
    width: 100%; /* Ocupa toda a largura da tela */
}

.scrolled {
    background-color: rgba(51, 41, 41, 0.9); /* Cor de fundo ao rolar */
    transition: background-color 0.3s ease;
}

.scrolled a {
    color: #d1c2c2; /* Cor das escritas do menu ao rolar */
}

.logo {
    font-family: 'Ginqail', serif;
    font-size: 40px;
    margin-top: 25px;
    padding-left: 5%;
}

.menu {
    text-align: center;
    width: 45%;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.right-menu {
    font-size: 20px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end; /* Mantém os itens alinhados à direita */
    gap: 10%; /* Ajuste esse valor para aumentar/diminuir o espaço entre as palavras */
}

a {
    font-family: 'MPLUS1', sans-serif;
    font-weight: 420;
    text-decoration: none;
    color: #332929;
}

/*Configurações de texto*/
.general-text {
    margin: 0 6%;
    margin-top: 10%;
}

.title-text {
    font-family: 'Ginqail', serif;
    font-size: 70px;
    text-align: center;
    padding-top: 10%;
    color: #332929;
}

.description-text {
    font-family: 'MPLUS1', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5%;
    padding: 0 28%;
    color: #332929;
}

.links-icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-icons-section a {
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 15%;
}

.links {
    text-align: center;
    display: flex;
    justify-content: center;
}

/*Retângulo em torno dos links de currículo*/
.rounded-link {
    display: inline-block;
    padding: 10px 27px;
    background-color: transparent;
    border: 1px solid #332929;
    border-radius: 45px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;  
    color: #332929;
    margin: 0 15px;
}

.about-section {
    background-color: #332929be; /* Cor de fundo diferente */
    width: 100vw; /* Largura igual à largura da tela */
    height: 100vh; /* Altura igual à altura da tela */
    padding: 100px 20px;
    font-family: 'MPLUS1', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #d1c2c2;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo vertical e horizontalmente */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

.about-section-title {
    font-family: 'Ginqail', serif;
    font-size: 70px;
    text-align: right;
    color: #d1c2c2;
    padding-bottom: 3%;
    margin-right: 15%; /* Adiciona mais espaço à direita */
    margin-left:20%;
}

.about-section-description-text {
    font-family: 'MPLUS1', sans-serif;
    font-size: 17px;
    font-weight: 350;
    text-align: left;
    padding-right: 15%;
    color: #d1c2c2;
}

/* Estilização do container do carrossel */
.carousel-container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    margin: -150px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Área deslizante */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Estilização dos slides */
.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3%;
    gap: 8%;
}

/* Texto e título ao lado da imagem */
.carousel-content {
    flex: 1;
    max-width: 100%;
}

.carousel-text-title {
    font-family: 'Ginqail', serif;
    font-size: 35px;
    text-align: left;
    padding-top: 8%;
    padding-left: 15%;
    color: #332929;
}

/* Estilização do título */
.carousel-heading-title {
    font-family: 'Ginqail', serif;
    font-size: 45px;
    text-align: left;
    margin-left: 60%;
    color: #332929;
}

/* Estilização da descrição */
.carousel-text-description {
    font-family: 'MPLUS1', sans-serif;
    font-size: 17px;
    font-weight: 350;
    text-align: left;
    color: #332929;
    margin-left: 60%;
    margin-bottom: 2%;
}

/* Estilização das imagens */
.carousel-slide img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 26%;
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #332929be;
    border: 1px solid #332929;
    border-radius: 45px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    z-index: 2;
}

.prev { left: 5%; }
.next { right: 5%; }

footer {
    margin-top: 2%;
    border-top: 1px solid #332929;
    color: #332929;
    text-align: center;
    padding: 20px 0;
    font-family: 'MPLUS1', sans-serif;
    font-size: 13px;
    font-weight: 400;
    bottom: 0;
    width: 100%;
}